<%= render "shared/navbar" %>
<div class="d-flex row">
  <div class="col-9">
    <div>
      <h1><%= @flat.name %></h1>
      <p><%= @flat.address %></p>
    </div>
    <div>
      <h3>A bit more about this flat...</h3>
      <p><%= @flat.description %></p>
    </div>
    <div>
      <h3>Details</h3>
      <p><i class="fa-solid fa-users"></i> <%= @flat.number_of_guests %> <i class="fa-solid fa-euro-sign"></i><%= @flat.price_per_night %></p>
    </div>
  </div>
  <div class="col-3">
    <h3>Book this place</h3>
    <form>
      <div class="form-group">
        <p>From</p>
        <input type="text" class="form-control" placeholder="12/07/2026">
      </div>
      <div class="form-group">
        <p>To</p>
        <input type="text" class="form-control" placeholder="19/07/2026">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Book</button>
      </div>
    </form>
  </div>
</div>
<%= link_to "Back to flats", flats_path, class: "btn btn-primary" %>
